<section class="advantages container" id="advantages">
  <div class="container-advantages container">
    <div class="section-title">
      <h3 class="subtitle-advantages">Переваги</h3>
      <h2 class="title-advantages">Чому обрати нас?</h2>
      <p class="advantages-text title-advantages-text">
        Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
        стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
        відповідальність.
      </p>
    </div>
    <div class="rov">
      <ul class="benefits-list">
        <!--1-->
        <li class="benefit-item">
          <picture class="advantages-img">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/advantages/dask-Placeholder-1.jpg,
                ../img/advantages/dask-Placeholder-1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/advantages/tab-Placeholder-1.jpg,
                ../img/advantages/tab-Placeholder-1@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/advantages/mob-Placeholder-1.jpg,
                ../img/advantages/mob-Placeholder-1@2x.jpg 2x
              "
            />
            <img
              src="../img/advantages/dask-Placeholder-1.jpg"
              alt="Стійкість та екологічність"
              width="422"
            />
          </picture>
          <div class="benefit-item-container">
            <h4 class="subtitle-benefit-item">Стійкість та екологічність</h4>
            <p class="advantages-text subtitle-benefit-text">
              Виготовлені з органічної бавовни та переробленого пластику.
            </p>
          </div>
        </li>
        <!--2-->

        <li class="benefit-item">
          <picture class="advantages-img">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/advantages/dask-Placeholder-2.jpg,
                ../img/advantages/dask-Placeholder-2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/advantages/tab-Placeholder-2.jpg,
                ../img/advantages/tab-Placeholder-2@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/advantages/mob-Placeholder-2.jpg,
                ../img/advantages/mob-Placeholder-2@2x.jpg 2x
              "
            />
            <img
              src="../img/advantages/dask-Placeholder-2.jpg"
              alt="Міцність і довговічність"
              width="422"
            />
          </picture>
          <div class="benefit-item-container">
            <h4 class="subtitle-benefit-item">Міцність і довговічність</h4>
            <p class="advantages-text subtitle-benefit-text">
              Наші сумки мають посилені шви для тривалого використання.
            </p>
          </div>
        </li>
        <!--3-->

        <li class="benefit-item benefit-item-tab">
          <picture class="advantages-img">
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/advantages/dask-Placeholder-3.jpg,
                ../img/advantages/dask-Placeholder-3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/advantages/tab-Placeholder-3.jpg,
                ../img/advantages/tab-Placeholder-3@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/advantages/ob-Placeholder-3.jpg,
                ../img/advantages/mob-Placeholder-3@2x.jpg 2x
              "
            />
            <img
              src="../img/advantages/dask-Placeholder-3.jpg"
              alt="Стильний та сучасний дизайн"
              width="844"
            />
          </picture>
          <div class="benefit-item-container">
            <h4 class="subtitle-benefit-item">Стильний та сучасний дизайн</h4>
            <p class="advantages-text subtitle-benefit-text">
              Мінімалістичні моделі в обмежених серіях для кожного стилю.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
