<section class="feedback">
  <div class="container">
    <h2 class="title-feedback">Що говорять наші клієнти</h2>
    <ul class="feedback-list">
      <li class="full-feedback">
        <div class="mark-feedback">
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <h3 class="text-feedback">
          Сумка дуже зручна та стильна, використовую щодня!
        </h3>
        <p class="autor-feedback">Анна</p>
      </li>
      <li class="full-feedback">
        <div class="mark-feedback">
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <h3 class="text-feedback">
          Відмінна якість матеріалів, приємно здивована.
        </h3>
        <p class="autor-feedback">Ігор</p>
      </li>
      <li class="full-feedback">
        <div class="mark-feedback">
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <h3 class="text-feedback">
          Сумка повністю відповідає опису, рекомендую!
        </h3>
        <p class="autor-feedback">Олена</p>
      </li>
      <li class="full-feedback">
        <div class="mark-feedback">
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
          <svg class="icon-star" width="20" height="20">
            <use href="../img/icons.svg#icon-Vector"></use>
          </svg>
        </div>
        <h3 class="text-feedback">Швидка доставка та гарне обслуговування.</h3>
        <p class="autor-feedback">Сергій</p>
      </li>
    </ul>
  </div>
</section>
