<section class="container gallery">
  <h2 class="gallery-title">Галерея зображень</h2>
  <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
  <ul class="gallery-list">
    <li class="gallery-item bag">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/gallery/gallery-desk4-min.jpg,
            ../img/gallery/gallery-desk4@2x-min.jpg 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ../img/gallery/gallery-tab4-min.jpg,
            ../img/gallery/gallery-tab4@2x-min.jpg 2x
          "
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ../img/gallery/gallery-mob1-min.jpg,
            ../img/gallery/gallery-mob1@2x-min.jpg 2x
          "
        />
        <img
          src="../img/gallery/gallery-desk4-min.jpg"
          alt="Сумка"
          width="288"
          height="288"
        />
      </picture>
    </li>

    <li class="gallery-item man">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/gallery/gallery-desk2-min.jpg,
            ../img/gallery/gallery-desk2@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/gallery/gallery-tab2-min.jpg,
            ../img/gallery/gallery-tab2@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/gallery/gallery-mob2-min.jpg,
            ../img/gallery/gallery-mob2@2x-min.jpg 2x
          "
        />
        <img
          src="../img/gallery/gallery-desk2-min.jpg"
          alt="Чоловік з сумкою в руках"
          width="288"
          height="288"
        />
      </picture>
    </li>
    <li class="gallery-item park">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/gallery/gallery-desk3-min.jpg,
            ../img/gallery/gallery-desk3@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/gallery/gallery-tab3-min.jpg,
            ../img/gallery/gallery-tab3@2x-min.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/gallery/gallery-mob3-min.jpg,
            ../img/gallery/gallery-mob3@2x-min.jpg 2x
          "
        />
        <img
          src="../img/gallery/gallery-desk3-min.jpg"
          alt="Жінка з сумкою в парку"
          width="288"
          height="288"
        />
      </picture>
    </li>
    <li class="gallery-item girl">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/gallery/gallery-desk1-min.jpg,
            ../img/gallery/gallery-desk1@2x-min.jpg 2x
          "
        />

        <source
          media="(min-width: 768px)"
          srcset="
            ../img/gallery/gallery-tab1-min.jpg,
            ../img/gallery/gallery-tab1@2x-min.jpg 2x
          "
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ../img/gallery/gallery-mob4-min.jpg,
            ../img/gallery/gallery-mob4@2x-min.jpg 2x
          "
        />
        <img
          src="../img/gallery/gallery-desk1-min.jpg"
          alt="дівчина з сумкою в руках"
          width="288"
          height="288"
        />
      </picture>
    </li>
  </ul>
</section>
