<header class="header">
  <div class="header-container">
    <nav class="nav">
      <a class="nav_logo" href="/src/index.html" target="_blank">
        <svg class="nav-logo-icon">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="header-menu-button" type="button">
        <svg class="header-menu-icon">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!-- modal window -->
  <div class="navbar-modal is-open">
    <div class="modal-content">
      <div class="header-container">
        <nav class="nav">
          <a class="nav_logo" href="/src/index.html" target="_blank">
            <svg class="nav-logo-icon">
              <use href="../img/icons.svg#icon-logo"></use>
            </svg>
          </a>
          <button class="modal-close-btn" type="button">
            <svg class="modal-close-icon">
              <use href="../img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </nav>
      </div>
      <div class="modal-menu">
        <nav>
          <ul class="modal-menu-list">
            <li class="modal-menu-item">
              <a class="modal-menu-link" href="/src/index.html">Про нас</a>
            </li>
            <li class="modal-menu-item">
              <a class="modal-menu-link" href="/src/index.html">Переваги</a>
            </li>
            <li class="modal-menu-item">
              <a class="modal-menu-link" href="/src/index.html">Асортимент</a>
            </li>
            <li class="modal-menu-item">
              <a class="modal-menu-link" href="/src/index.html">Галерея</a>
            </li>
            <li class="modal-menu-item">
              <a class="modal-menu-link" href="/src/index.html">Відгуки</a>
            </li>
            <li class="modal-menu-item">
              <a class="modal-menu-link" href="/src/index.html">Контакти</a>
            </li>
          </ul>
        </nav>
      </div>
      <address>
        <div class="modal-address">
          <ul class="modal-address-list">
            <li><a class="modal-menu-link" href="tel:+380999091122">+38 (099) 909 11 22</a></li>
            <li><a class="modal-menu-link" href="mailto:hello@ecotote.com">hello@ecotote.com</a> </li>
          </ul>
        </div>
      </address>
    </div>
  </div>




</header>