<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="nav_logo" href="/src/index.html" target="_blank">
        <svg class="nav-logo-icon">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <button class="header-menu-button" type="button" aria-label="Open menu">
        <span class="visually-hidden">Open menu</span>
        <svg class="header-menu-icon">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>