<header class="header-class">
  <div class="container header-container">
    <nav class="nav">
      <a class="nav-logo" href="/src/index.html" target="_blank">
        <svg class="nav-logo-icon">
          <use href="../img/logo.svg#icon-logo"></use>
        </svg>
      </a>

      <div class="header-menu">
        <nav>
          <ul class="header-menu-list">
            <li><a class="header-menu-item" href="#about">Про нас</a></li>
            <li><a class="header-menu-item" href="#advantages">Переваги</a></li>
            <li><a class="header-menu-item" href="#assortment">Асортимент</a></li>
            <li><a class="header-menu-item" href="#gallery">Галерея</a></li>
            <li><a class="header-menu-item" href="#feedbacks">Відгуки</a></li>
            <li><a class="header-menu-item" href="#support">Контакти</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-address">
        <address>
          <ul class="header-address-list">
            <li><a class="header-address-item" href="tel:+380999091122">+38 (099) 909 11 22</a></li>
            <li><a class="header-address-item" href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
          </ul>
        </address>
      </div>

      <button class="burger-btn" type="button" data-menu-open>
        <svg class="burger-btn-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!-- modal window -->
  <div class="navbar-modal" data-menu>
    <div class="modal-content">
      <div class="container header-container">
        <nav class="nav">
          <a class="nav-logo" href="/src/index.html">
            <svg class="nav-logo-icon">
              <use href="../img/logo.svg#icon-logo"></use>
            </svg>
          </a>
          <button class="modal-close-btn" type="button" data-menu-close>
            <svg class="modal-close-icon" width="32" height="32">
              <use href="../img/icons.svg#icon-close"></use>
            </svg>
          </button>
        </nav>
      </div>
      <div class="modal-header-menu">
        <nav>
          <ul class="modal-header-menu-list">
            <li><a href="#about">Про нас</a></li>
            <li><a href="#advantages">Переваги</a></li>
            <li><a href="#assortment">Асортимент</a>
            <li><a href="#gallery">Галерея</a></li>
            <li><a href="#feedbacks">Відгуки</a></li>
            <li><a href="#support">Контакти</a></li>
          </ul>
        </nav>
      </div>
      <div class="modal-header-address">
        <address>
          <ul class="modal-header-address-list">
            <li><a href="tel:+380999091122">+38 (099) 909 11 22</a></li>
            <li><a href="mailto:hello@ecotote.com">hello@ecotote.com</a></li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</header>