<section class="hero">
  <div class="container">
    <div class="hero-text-container">
      <h1 class="hero-title">EcoTote — Стиль, що не шкодить планеті.</h1>
      <p class="hero-text">
        Екологічні сумки для тих, хто дбає про майбутнє. Обирайте стиль та
        відповідальність разом з EcoTote.
      </p>
      <button class="hero-button" type="button" id="assortment">
        Купити зараз
      </button>
    </div>
    <div class="hero-images-container">
      <img
        class="hero-image"
        srcset="../img/hero-1x.jpg 1x, ../img/hero-2x.jpg 2x"
        src="../img/hero.jpg"
        width="1312"
        height="498"
        alt="women's bags and bicycle"
      />
    </div>
  </div>
</section>
