:root {
  font-family: 'Fira Sans', 'Comfortaa', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;

  color: #030a06;
  background-color: #ebf8ed;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  border: 0;
}
