.footer {
  padding: 48px 20px;
  background-color: #75d281;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 280px;

}
.footer-nav {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
}

.footer-logo {
  width: 281px;
  height: 121px;
}
.footer-logo-icon {
  width: 273px;
  height: 102px;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 32px;
  max-width: 88px;
}
.footer-menu-link {
  font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}


.footer-media-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 48px;
}

.footer-media-item {
  width: 32px;
  height: 32px;
   
}

.footer-media-link {
  display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 12px;
}

.footer-media-icon {
  width: 24px;
  height: 24px;
  fill: #030a06;
}

.horizontal-rule {
  border: 1px solid rgba(3, 10, 6, 0.15);
  width: 280px;
  height: 0px;
}

.footer-address {
padding-top: 24px;
padding-bottom: 16px;
}

.footer-address-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}


.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
}

@media screen and (min-width: 768px) {
  .footer {
      padding: 64px 32px;
      }
  .footer-container {
      flex-wrap: nowrap;
      flex-direction: column;
      max-width: 704px;   
    
    }
  .footer-nav {
     gap: 32px;
  }

  .footer-menu-list {
   flex-wrap: nowrap ;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 566px;
    gap: 32px;
  }
    .footer-media-link {
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
    .footer-media-list {
      margin-bottom: 24px; 
    }
    .footer-address {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
        padding-top: 16px;
        padding-bottom: 0;
    }
    .footer-address-list {
      justify-content: center;
      flex-direction: row;
      gap: 32px;
    }
    .horizontal-rule {
      width: 704px;
    }
}