.footer {

  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 320px;
  width: 100%;
  background-color: #75d281;
}

.footer-container {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   max-width: 280px;
  padding: 48px 20px;

}
.footer-nav {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.footer-logo {
margin-bottom: 48px;
}

.footer-logo-icon {
  width: 281px;
    height: 121px;
}

.footer-menu-list {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  row-gap: 32px;
  max-width: 88px;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}

.footer-menu-item {}

.footer-menu-link {}

.footer-media-list {}

.footer-media-item {}

.footer-media-link {}

.footer-media-icon {}

.horizontal-rule {}

.footer-address {}

.footer-address-item {}

.footer-copyright {}