header {
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 64px;
  width: 100%;
  background-color: #75d281;
  padding-top: 14px;
}

.nav_logo {
  margin-right: 156px;
}
.nav-logo-icon {
  width: 84px;
  height: 36px;
}

.header-menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-menu-icon {
  width: 32px;
  height: 32px;
  fill: #030a06;
}

/* modal window */
.navbar-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #75d281;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.navbar-modal.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.navbar-modal:not(.is-open) .modal-content {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-content {
  position: fixed;
  transform: translate(-50%);
  left: 50%;

  width: 320px;
  min-height: 604px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  margin-bottom: 92px;
}

.modal-header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 64px;
  margin-bottom: 14px;
}

.modal-nav-logo {
  position: absolute;
  left: 20px;
  top: 14px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  padding: 8px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal-close-icon {
  width: 32px;
  height: 32px;
}
.modal-menu {
  padding: 32px 20px;
}
.modal-menu-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal-menu-link {
  color: #030a06;
}

.modal-address {
  padding: 32px 16px;
}

.modal-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
