.hero {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #ebf8ed;
}

.hero-text-container {
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.hero-title {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #030a06;
  max-width: 288px;
  margin-bottom: 20px;
}

.hero-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 24px;
  max-width: 288px;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  text-align: center;
  min-width: 288px;
  height: 50px;
  border: 1px solid #030a06;
  border-radius: 6px;
  background-color: #030a06;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: transparent;
  color: #030a06;
}

.picture-box {
  margin: 0 auto;
  border-radius: 40px;
  width: 288px;
  height: 285px;
}

.picture-box,
.picture-box picture,
.picture-box img.hero-images {
  border-radius: 40px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
  }

  .hero-text-container {
    flex-wrap: wrap;
    display: flex;
    max-width: 704px;
    gap: 24px;
    margin-bottom: 20px;
  }

  .hero-title {
    max-width: 340px;
    margin: unset;
  }

  .hover-dot {
    color: #ebf8ed;
  }

  .hero-text {
    max-width: 340px;
    font-size: 18px;
    margin-bottom: 32px;
  }

  .hero-button {
    min-width: 148px;
    margin: unset;
  }

  .picture-box {
    width: 704px;
    height: 267px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 640px;
    font-size: 56px;
  }

  .hero-text-container {
    gap: 32px;
    max-width: 1312px;
    margin-bottom: 20px;
  }

  .hero-text {
    font-size: 18px;
    max-width: 640px;
  }

  .picture-box {
    width: 1312px;
    height: 498px;
  }
}
